@import url('https://fonts.googleapis.com/css?family=Satisfy');

body{
    background: url('./t.png') center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

h1{
    font-family: 'Satisfy', cursive;
}

@media(min-width:600px){
    h1{
        font-size: 12px;
    }
}